# editorconfig.org
root = true

# Defaults
[*]
indent_style = space
indent_size = 2
tab_width = 2
# To allow compiling code on CI.
end_of_line = lf
# For Japanese characters.
charset = utf-8
# To remove trailing whitespace.
trim_trailing_whitespace = true
# To add a newline at the end of the file.
insert_final_newline = true

[*.{html,js,ts,sh}]
indent_style = tab
tab_width = 4

[*.md]
indent_style = space
indent_size = 4

# JSON files benefit from 2 spaces for readability and require a final newline.
[*.json]
indent_style = space
indent_size = 2
tab_width = 2
insert_final_newline = true

# SVG files benefit from 2 spaces for readability and do not require a final newline.
[*.svg]
indent_style = space
indent_size = 2
tab_width = 2
insert_final_newline = false

# YAML files
[*.{yaml,yml}]
indent_style = space
indent_size = 2
tab_width = 2
insert_final_newline = true

# Minified JavaScript files shouldn't be changed and often have no newlines, so we ignore indentation and final newline rules.
[**.min.js]
indent_style = ignore
insert_final_newline = ignore
